.pivnica{
    display: flex;
}
.naslov{
    font-weight: bolder;
    align-self: center;
}
body{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}
.meni{
    display: flex;
    /* flex-grow: 2;
    flex-shrink: 2;
    flex-basis: auto; */
    flex-direction: column;
    
    min-width: 200px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;

    border: 2px solid rgb(65, 63, 63);
    box-shadow: 10px 10px 8px #888888;
    margin: 5px;
    padding: 15px;
}
.salaStolovi{
    display: flex;
    flex: 3 2 auto;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
    
    border: 2px solid rgb(65, 63, 63);
    box-shadow: 10px 10px 8px #888888;
    margin: 5px;
    padding: 0px;

    background-color: rgb(32, 31, 31);
}
.forma{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    

}

.stavkeForma{
    display: flex;
    

}
.dugmadMeni{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.dugme{
    display: flex;
    flex: 0 1 auto;

    width: min-content;
    height: min-content;
    /* max-height: fit-content; */
    

    margin: 5px;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.polje{
    display: flex;
    flex: 0 1 auto;

    max-height: max-content;
    
}

label{
    margin: 5px;
}
img{
    display:flex;
    height: 100%;
    width: 100%;
    margin:0%;
}
.stavkaMeni{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    
}

.atributiStavke{
     display: flex;
}
.sto{
    display: flex;
    justify-content: space-evenly;

    border: 1px solid black;
    box-shadow: 10px 10px 8px #131212;
    padding: 10px;
    margin: 10px;

    flex-wrap:wrap;
    flex-direction: column;

    min-width: 150px;
    max-width: 200px;
    min-height: 150px;
    width: max-content;
    height: max-content;
    flex-basis: auto;
    flex-grow: 1;

    background-color: rgb(140, 194, 255);
    font-size: large;
    
}
.akcijaDiv{
    color: rgb(134, 64, 7);
}
.akcijaParagraf{
    font-size:10px;
    color:rgb(19, 168, 206);

}